/* reset */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* general */

html,
body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

h1,
h2,
h3 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

.p {
    margin-bottom: 10px;
}

a {
    color: #222;
    text-decoration: none;
}

.separator {
    margin: 20px auto;
    height: 10px;
    width: 100px;
    background: black;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    border: 0px;
    cursor: pointer;
}

.btn-primary {
    background: white;
    color: #222;
}

.btn-dark{
    background: #222;
    color: white;
}

.btn-dark:hover {
    background: white;
    color: #222;
    border: 1px solid #222;
}

.btn-primary:hover {
    background: #222;
    color: white;
}

.container{
    display: block;
    margin: auto;
    max-width: 1000px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.underline {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.chip {
    display: inline-block;
    text-align: center;
    width: 30px;
    border-radius: 100%;
    background: #333;
    color: white;
}

.chip-purple {
    background: #be418d;
}

.chip-brown{
    background: #8c5e24;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/* header */

.header {
    background: #333;
    overflow: auto;
    line-height: 1.7em;
}

.header img {
    width: 65px;
    height: 65px;
    float: left;
    padding: 0.75rem;
    border-radius: 50%;
    margin: auto;
}

.header nav h1 {
    float: left;
    padding: 18px;
    margin-bottom: 0px;
}

.header nav h1 a {
    text-align: center;
    justify-content: center;
    color: white;
}

.header nav ul {
    float: right;
    list-style: none;
}

.header nav ul li {
    float: left;
    position: sticky;
    top: 0;
}

.header nav ul li a {
    color: white;
    padding: 20px;
    display: block;
}

.header nav ul li a:hover {
    background: #444;
}

.active {
    background: #444;
}

/* vp */

.vp {
    min-height: 1100px;
    background: url(../images/0054_Sathya_Portraits-2019_-Photographe_Tony_Maillard-Nantes-Droits_reserves-55_WEB_edited\ reduce.jpg) center center/cover;
    background-size: cover;
    text-align: center;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.vp-content {
    max-width: 600px;
    padding: 20px;
    padding-top: 340px;
    color: white;
    display: block;
    margin-left: 40rem;
}

.vp-content h1 {
    font-size: 3rem;
}

.vp-content p {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.9em;
}

/* features */

.features{
    overflow: auto;
    padding: 100px 20px 100px 20px;
    text-align: center;
}

.feature {
    float: left;
    width: 50%;
}

/* person */

.person {
    height: 700px;
    background: url(../images/spectacle-puydufou_edited\ orange.jpg) center center/cover;
}

.slider {
    overflow: hidden;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

/* reservation */

.reservation {
    padding: 100px 20px 100px 20px;
    text-align: center;
}

/* footer */

footer {
    background: #222;
    color: white;
    padding: 30px 0px 30px 0px;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}

/* Réalisations */

.offer h2 {
    margin-top: 100px;
}

.offer {
    padding: 10rem 1rem 10rem 1rem;
}

.offer-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.offer-elem {
    border: 1px solid #ddd;
    background: white;
    margin: 1rem;
    flex: 1;
}

.offer-elem-img {
    width: 100%;
}

.offer-elem-text {
    padding: 2rem;
    text-align: center;
}

.offer-separator {
    margin: 1rem auto;
    height: 2px;
    width: 50px;
    background: #333
}

/* contact */

.contact {
    padding: 180px 0px 100px 0px;
    min-height: 100vh;
}

.contact img {
    width: auto;
    height: 250px;
    margin: auto;
    border-style: groove;
}

.contact-form-container{
    max-width: 600px;
    padding: 20px;
    margin: auto;
}

.contact-form-container form label {
    display: block;
    font-weight: bold;
}

.contact-form-container form input,
textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.contact-form-container form textarea {
    min-height: 80px;
}